.container {
  width: calc(100% - 10rem);
  margin-left: 10rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  main {
    max-width: 1080px;
    max-height: 70%;
    overflow-y: scroll;
  }
}


.header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 36rem;
}

.headerImage {
  /* width: 6rem; */
  /* height: 6rem; */
}

.headerHomeImage {
  /* width: 8rem; */
  /* height: 8rem; */
}

.headerHomeImage:hover {
  filter:blur(1px) grayscale(80%) opacity(70%);
  transition: 0.3s ease-out;
  transform: scale(1.05);
}

.backToHome {
  margin: 3rem 0 0;
}
