.neon-clock {
  color: #fff;
  opacity: 0.8;
    animation: flicker 5s infinite alternate;
    @keyframes flicker {
      0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
          0 0 4px #000,
          0 0 11px #000,
          0 0 19px #000,
          0 0 40px rgb(128, 244, 163),
          0 0 80px rgb(128, 244, 163),
          0 0 90px rgb(128, 244, 163),
          0 0 100px rgb(128, 244, 163),
          0 0 150px rgb(128, 244, 163);
      }
      20%, 24%, 55% {       
        text-shadow: none;
      }
      }
}