$anchor-color: green;
$anchor-visited-color: darkgrey;

@font-face {
  font-family: 'Designer Block';
  font-weight: 200;
  src: url('/public/fonts/DesignerBlock.TTF') format('truetype');
}
@font-face {
  font-family: 'stormfaze';
  font-weight: 200;
  src: url('/public/fonts/stormfaze.ttf') format('truetype');
}
@font-face {
  font-family: 'audiowide';
  font-weight: 200;
  src: url('/public/fonts/Audiowide-Regular.ttf') format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: audiowide, sans-serif, Oxygen,BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
  line-height: 1.6;
  font-size: 18px;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  /* height: 100%; */
  overflow: auto;
  background-image: url('../public/images/cyber.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  // background: radial-gradient(
  //     circle at 50% 0,
  //     rgba(255, 0, 0, 0.5),
  //     rgba(255, 0, 0, 0) 70.71%
  //   ),
  //   radial-gradient(
  //     circle at 6.7% 75%,
  //     rgba(0, 0, 255, 0.5),
  //     rgba(0, 0, 255, 0) 70.71%
  //   ),
  //   radial-gradient(
  //       circle at 93.3% 75%,
  //       rgba(0, 255, 0, 0.5),
  //       rgba(0, 255, 0, 0) 70.71%
  //     )
  //     beige;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $anchor-color;
}

a:hover {
  filter: drop-shadow(10px 10px 20px white) invert(70%);
}

a:visited {
  color: $anchor-visited-color;
}

img {
  max-width: 100%;
  display: block;
}

#__next {
  width: 100%;
  height: 100%;
}

// code {
//   font-family: audiowide;
// }

