.post {
    pre>div {
        border-radius: 10px !important; 
    }
    &>p>code {
      font-family: var(--font-family);
      font-size: 1em;
    //   background-color: #6952b6;
      border-radius: 4px;
    //   color: #fff;
      font-weight: bold;
      line-height: 1;
      padding: 5px 7px 2px 7px;
    }
}
