#header {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 36rem;
    padding-top: 1rem;
    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    a {
        font-size: 20px;
        text-decoration: none;
    }
}