@import './variables.scss';
// @font-face {
//   font-family: 'Designer Block';
//   font-weight: 200;
//   src: url('/public/fonts/DesignerBlock.TTF') format('truetype');
// }
// @font-face {
//   font-family: 'stormfaze';
//   font-weight: 200;
//   src: url('/public/fonts/stormfaze.ttf') format('truetype');
// }
// @font-face {
//   font-family: 'audiowide';
//   font-weight: 200;
//   src: url('/public/fonts/Audiowide-Regular.ttf') format('truetype');
// }
@font-face {
  font-family: "InkLipquid";
  font-weight: 200;
  src: url("/fonts/InkLipquidFonts.ttf") format("truetype");
}

  @font-face {
  font-family: "NotoSans";
  font-weight: 200;
  src: url("/fonts/NotoSansKR-Regular.otf") format("truetype");
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html,
body {
  font-family: NotoSans, InkLipquid, sans-serif, Oxygen,BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
  line-height: 1.6;
  font-size: 18px;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: auto;
  box-sizing: border-box;
}

#__next {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  outline: none;
  color: $secondary-color;
}
 a:hover,
a:active {
  text-decoration: none;
  color: $primary-color
 }

 a:visited {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}

// code {
//   font-family: audiowide;
// }